<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Yatra Automation Tests" parallel="classes" thread-count="4">
    <test name="Test name for Yatra">
        <classes>
            <class name="YatraTest" />
            <class name="BookingTest" />
        </classes>
    </test>
</suite>