<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Yatra Automation Tests" parallel="classes" thread-count="4">
    <test name="SmokeTests">
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
        <classes>
            <class name="BookingTest"/>
            <class name="YatraTest"/>
        </classes>
    </test>
</suite>